<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>199594518807-3bjcc8p9auu2qcemegr4akhqo7pt7sqr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199594518807-3bjcc8p9auu2qcemegr4akhqo7pt7sqr</string>
	<key>API_KEY</key>
	<string>AIzaSyDy4uaY7aADsiysL-2MaQrRQhBCCBbgtZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>199594518807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sangwonshin.FoodStory</string>
	<key>PROJECT_ID</key>
	<string>foodstoryp</string>
	<key>STORAGE_BUCKET</key>
	<string>foodstoryp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199594518807:ios:b530224cd3cb80203d2f52</string>
</dict>
</plist>